
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  display: flex;
  list-style: none;
  gap: 20px;
  background: white;
  flex-direction: column;
  align-items: stretch;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

@font-face {
  font-family: Monserrate700;
  src: url(./Fonts/Montserrat-Medium.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Monserrate500;
  src: url(./Fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}

.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

footer {
  background: white;
}

body {
  margin: 20px;
  background: hsl(30, 38%, 92%);
}

.especificatios {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  width: 20em;
}

h1 {
  font-family: Monserrate700, sans-serif;
  background: white;
  color: grey;
}

h2 {
  background: white;
}

.describes {
  background: white;
  font-family: Monserrate500, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 1.5em;
  color: grey;
}

.cost {
  float: left;
  background: white;
  color: grey;
  font-family: Monserrate500, sans-serif;
  font-size: small;
}

.costreal {
  float: left;
}

ul,
li {
  display: flex;
  list-style: none;
  gap: 20px;
  background: white;
  flex-direction: row;
  align-items: center;
}

.attribution {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: hsl(158, 36%, 37%);
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  border-radius: 5px;
  height: 3em;
  border: none;
  color: white;
  gap: 1em;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.pricefinal {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: xx-large;
  color: hsl(158, 36%, 37%);
}

.perfumname {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: xx-large;
}

.stylcardchanel {
  margin: 10px;
}

.img-fluid-desktop {
  display: none;
}

.preview {
  font-family: Monserrate500, sans-serif;
  letter-spacing: 5px;
}

.styleinfo {
  padding: 1em;
  display: flex;
  gap: 10px;
  background: white;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
}

button:hover {
  background-color: hsl(212, 21%, 14%);
}

@media screen and (min-width: 768px) {
  .especificatios {
    flex-direction: row;
    border-radius: 10px 10px;
    position: absolute;
    top: 23%;
    left: 30%;
    width: 100%;
  }

  button {
    width: 15em;
    position: relative;
    left: 20px;
  }

  .img-fluid {
    display: none;
  }

  .img-fluid-desktop {
    display: flex;
    border-radius: 10px 0 0 10px;
    width: 307px;
  }

  .styleinfo {
    display: flex;
    align-items: flex-start;
    width: 15em;
    flex-direction: column;
    gap: 2em;
    border-radius: 0 10px 10px 0;
  }
}
