@import url("./fonts.css");

:root{

  --white: #ffffff;
  --black: #1C232B;
  --grey:  #6C7289;
  --cream: #F2EAE2;
  --green-500: #3D8168;
  --green-700: #1A4032;
}

*{
  box-sizing:border-box;
  margin:0;
}


body{
  background-color: var(--cream);
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100dvh;
}

.card{
  background-color: var(--white);
  border-radius: 1rem;
  box-sizing:content-box;
  max-width:21.875rem;
  display:flex;
  flex-direction:column;
  position: relative;
}


.card picture img {
  width: 100%;
  height: auto;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.card__info{
  display: flex;
  flex-direction:column;
  gap: 1.5rem;
  margin: 2rem;
}


.card__header {
  text-transform:uppercase;
  font-family: Monserrate, sans-serif;
  letter-spacing: 5px;
  color: var(--grey);
  font-size: 0.875rem;
  font-weight:bold;
  line-height: 120%;
  letter-spacing:5px;
}

.card__subheader {
  letter-spacing:0px;
  line-height: 110%;
  font-size: 2rem;
  font-family:Fraunces, sans-serif;
  font-weight: bold;
}

.card__description {
  color: var(--grey);
  font-family: Monserrate, sans-serif;
  line-height:160%;
  letter-spacing: 0;
  font-size:0.875em;
}

.card__list-prices{
  display:flex;
  list-style: none;
  padding:0;
  gap:1rem;
  align-items:center;
}

.card__price--current{
  color: var(--green-500);
  font-family:Fraunces,sans-serif;
  font-size: 2em;
  font-weight:bold;
}

.card__price--old{
  color: var(--grey);
  font-family:Monserrate,sans-serif;
  text-decoration: line-through;
  font-size: 1em;
  font-weight:500;
}

.card__button{
  height: 1rem;
  display:flex;
  gap:0.5rem;
  justify-content:center;
  align-items:center;
  height: 3.125rem;
  border:none;
  background-color: var(--green-500);
  box-shadow:none;
  font-family:Monserrate, sans-serif;
  color: var(--white);
  padding:0;
  border-radius: 5px;

}
.card__button:hover{
  background-color: var(--green-700);
}

@media screen and (min-width:768px){

  .card{
    flex-direction:row;
    max-width: 37.5rem;
    height: 28.5rem;
  }

  .card picture img {
    width: 18.75rem;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
  }

}
